@tailwind base;
@tailwind components;

@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-5000 {
    animation-delay: 5s;
  }
  .animation-delay-7000 {
    animation-delay: 7s;
  }
  .text-shadow-white {
    text-shadow: 4px 0px 36px white, -4px 0px 36px white, 0px 4px 36px white,
      0px -4px 36px white;
  }
}
